{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>{{ title }}</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="contact_text">For questions or feedback on this web app, please email <a href="mailto:inquiries@operandumest.co.uk" target="_blank">Operandum Est</a>.</p>
        <p class="contact_text">For questions about the data, please contact <a href="https://www.drugshortagescanada.ca/contact" target="_blank">Drug Shortages Canada</a> or the <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/drug-product-database/contact-us.html" target="_blank">Drug Product Database</a>, as this web app is entirely based on their data.</p>
    </div>
</div>

{% endblock %}
