{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Drug Shortages Canada: Analysis</h1>
    <p class="lead">A simple web service providing analysis and visualizations of publicly available data from Drug Shortages Canada, Canada's mandatory drug shortage and discontinuation reporting website.</p>
    <p><a href="https://www.drugshortagescanada.ca/" class="btn btn-primary btn-large">Drug Shortages Canada &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>Get a summary of a medicine, ingredient, or company's history of involvement in shortages.</p>
        <form action="/summary" method="get">
            <button class="btn btn-default" type="submit">Start query &raquo;</button>
         </form>
    </div>
    <div class="col-md-4">
        <h2>Time Series Graphs</h2>
        <p>View shortage and discontinuation history over time by medicine, company, ingredient, and more.</p>
        <p><a class="btn btn-default" href="">Start query &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Network Graphs</h2>
        <p>View the relationships of companies, products, and ingredients affected by a shortage via a network graph.</p>
        <p><a class="btn btn-default" href="">Start query &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Report
                    </th>
                    <th scope="col">
                        Datetime
                    </th>
                    <th scope="col">
                        Event
                    </th>
                    <th scope="col">
                        Product
                    </th>
                    <th scope="col">
                        DIN
                    </th>
                    <th scope="col">
                        Company
                    </th>
                    <th scope="col">
                        Code
                    </th>
                    <th scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in lists %}
                    <tr>
                        <td>
                            <a href="{{ item["url"] }}" target="_blank"> {{ item["id"] }} </a>
                        </td>
                        <td>
                            {{ item["date"] }}
                        </td>
                        <td>
                            {{ item["event"] }}
                        </td>
                        <td>
                            {{ item["drug"] }}
                        </td>
                        <td>
                            {{ item["din"] }}
                        </td>
                        <td>
                            {{ item["company"] }}
                        </td>
                        <td>
                            {{ item["code"] }}
                        </td>
                        <td>
                            <form action="/visualize" method="post">
                                <button id="submit" name="submit" class="btn btn-primary" value="{{ item["id"] }}">Visualize</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
