{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Drug Shortages Canada: Analysis</h1>
    <p class="lead">A simple web service providing analysis and visualizations of publicly available data from Drug Shortages Canada, Canada's mandatory drug shortage and discontinuation reporting website, supported by Health Canada's Drug Product Database.</p>
    <p>
    <a href="https://www.drugshortagescanada.ca/" class="btn btn-primary btn-large jtron_btn" target="_blank">Drug Shortages Canada &raquo;</a>
    <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/drug-product-database.html" class="btn btn-primary btn-large jtron_btn" target="_blank">Drug Product Database &raquo;</a>
    </p>
    <p class="warning_text">
        This web app is for academic research only. It should not be used to make any sort of medical or commercial decision.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>Get a summary of a medicine, ingredient, or company's history of involvement in shortages.</p>
    </div>
    <div class="col-md-4">
        <h2>Entity Network</h2>
        <p>Get a network graph based around a particular drug, company, or active ingredient.</p>
    </div>
    <div class="col-md-4">
        <h2>Shortages Network</h2>
        <p>View all current active shortages as a network graph.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="/summary" method="get">
            <button class="btn btn-default" type="submit">Start query &raquo;</button>
        </form>
    </div>
    <div class="col-md-4">
        <form action="/visualize" method="get">
            <button class="btn btn-default" type="submit">Start query &raquo;</button>
        </form>
    </div>
    <div class="col-md-4">
        <form action="/visualize" method="post">
            <button class="btn btn-default" type="submit">Start query &raquo;</button>
            <input hidden name="what" value="4" />
        </form>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <form action="/" method="post">
            <button id="refresh" name="refresh" class="btn btn-warning" value="refresh" title="**Warning**: updating the database will take some time.">Refresh Database</button>
            <span>Last update (UTC): {{ lists[20]["last_update"] }}</span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Report
                    </th>
                    <th scope="col">
                        Datetime (UTC)
                    </th>
                    <th scope="col">
                        Event
                    </th>
                    <th scope="col">
                        Product
                    </th>
                    <th scope="col">
                        DIN
                    </th>
                    <th scope="col">
                        Company
                    </th>
                    <th scope="col">
                        Code
                    </th>
                    <th scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in lists %}
                    <tr>
                        <td>
                            <a href="{{ item["url"] }}" target="_blank"> {{ item["id"] }} </a>
                        </td>
                        <td>
                            {{ item["date"] }}
                        </td>
                        <td>
                            {{ item["event"] }}
                        </td>
                        <td>
                            {{ item["drug"] }}
                        </td>
                        <td>
                            {{ item["din"] }}
                        </td>
                        <td>
                            {{ item["company"] }}
                        </td>
                        <td>
                            {{ item["code"] }}
                        </td>
                        <td>
                            <form action="/visualize" method="post">
                                <button id="submit" name="submit" class="btn btn-primary" value="{{ item["id"] }}">Visualize</button>
                                <input hidden name="what" value="3"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
