{% extends "layout.html" %}

{% block javascript %}
<script src="/static/scripts/my_scripts.js"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Summary Reports</h1>
</div>

<div class="row">
    <div id="q1" class="col-md-3">
        <form action="/summary" method="get">
            <button id="submit" class="btn btn-primary">Back</button>
        </form>
    </div>
    <div id="q2" class="col-md-3">
    </div>
    <div id="q3" class="col-md-3">
    </div>
    <div id="q4" class="col-md-3">
    </div>
</div>
<hr/>
<div class="row">
    <div id="results" class="col-md-12">
        {% if lists[0]["subj"] == 0 %}
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            Drug Name
                        </th>
                        <td>
                            {{ lists[1][0]["drug_details"]["name"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            DIN
                        </th>
                        <td>
                            {{ lists[0]["term"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Drug Class
                        </th>
                        <td>
                            {{ lists[1][0]["drug_details"]["class"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Company
                        </th>
                        <td>
                            {{ lists[1][0]["drug_details"]["company"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Status
                        </th>
                        <td>
                            {{ lists[1][0]["drug_status"]["status"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Status Since
                        </th>
                        <td>
                            {{ lists[1][0]["drug_status"]["since"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            First Marketed
                        </th>
                        <td>
                            {{ lists[1][0]["drug_status"]["marketed"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Ingredients
                        </th>
                        <td>
                            {% for ing in lists[1][0]["drug_details"]["ingredients"] %}
                            {{ ing["name"] }}
                            <br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Total Shortages Reported
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["total_shortages"] }}
                        </td>
                    </tr>
                    {% if lists[1][0]["shortage_info"]["status"] == "active_confirmed" or lists[1][0]["shortage_info"]["status"] == "resolved" %}
                    <tr>
                        <th scope="row">
                            Latest Shortage Began
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_start"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Latest Shortage Reason
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_reason"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Resolved?
                        </th>
                        <td style="font-weight:bold">{{ lists[1][0]["shortage_info"]["latest_resolved"] | string }}</td>
                    </tr>
                    {% if lists[1][0]["shortage_info"]["latest_resolved"] == True %}
                    <tr>
                        <th scope="row">
                            Resolved On
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["resolved_date"] }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <th scope="row">
                            Latest Shortage Est. End
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_est_end"] }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">
                            Latest Shortage Est. End
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_est_end"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Latest Report
                        </th>
                        <td>
                            <a href="{{ lists[1][0]["shortage_info"]["report_url"] }}" target="_blank"> {{ lists[1][0]["shortage_info"]["report_id"] }} </a>
                        </td>
                    </tr>
                    {% elif lists[1][0]["shortage_info"]["status"] == "discontinued" or lists[1][0]["shortage_info"]["reversed"] %}
                    <tr>
                        <th scope="row">
                            Discontinuation
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_start"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Discontinuation Reason
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_info"]["latest_reason"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Reversed?
                        </th>
                        <td style="font-weight:bold">{{ lists[1][0]["shortage_info"]["latest_reversed"] | string }}</td>
                    </tr>
                    {% if lists[1][0]["shortage_info"]["latest_reversed"] == True %}
                        <tr>
                            <th scope="row">
                                Reversed On
                            </th>
                            <td>
                                {{ lists[1][0]["shortage_info"]["reversed_date"] }}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <th scope="row">
                                Est. Discontinuation Date
                            </th>
                            <td>
                                {{ lists[1][0]["shortage_info"]["latest_est_end"] }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">
                            Latest Report
                        </th>
                        <td>
                            <a href="{{ lists[1][0]["shortage_info"]["report_url"] }}" target="_blank"> {{ lists[1][0]["shortage_info"]["report_id"] }} </a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% elif lists[0]["subj"] == 1 %}
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            Company Name
                        </th>
                        <td>
                            {{ lists[1][0]["company_details"]["name"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Company Code
                        </th>
                        <td>
                            {{ lists[1][0]["company_details"]["code"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Location
                        </th>
                        <td>
                            {{ lists[1][0]["company_details"]["location"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Type
                        </th>
                        <td>
                            {{ lists[1][0]["company_details"]["type"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Drugs Marketed
                        </th>
                        <td>
                            {{ lists[1][0]["drugs_marketed"]["drug_count"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Shortage Reports Mentioning "{{ lists[1][0]["company_details"]["name"] }}"
                        </th>
                        <td>
                            {{ lists[1][0]["drugs_marketed"]["report_count"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Of Which Active
                        </th>
                        <td>
                            {{ lists[1][0]["drugs_marketed"]["active_reports"] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% elif lists[0]["subj"] == 2 %}
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            Ingredient Name
                        </th>
                        <td>
                            {{ lists[1][0]["ingredient_details"]["name"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Drug Count
                        </th>
                        <td>
                            {{ lists[1][0]["ingredient_details"]["drug_count"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Company Count
                        </th>
                        <td>
                            {{ lists[1][0]["ingredient_details"]["company_count"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Shortage Reports Mentioning "{{ lists[1][0]["ingredient_details"]["name"] }}"
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_details"]["report_count"] }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Active Shortage Reports Mentioning "{{ lists[1][0]["ingredient_details"]["name"] }}"
                        </th>
                        <td>
                            {{ lists[1][0]["shortage_details"]["active_reports"] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>Error! Results not found</p>
        {% endif %}
    </div>
</div>

{% endblock %}
