{% extends "layout.html" %}

{% block content %}

<form action="/quote" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="dropbtn">Subject</button>
                    <div class="dropdown-content">
                        <a href="#">Drug</a>
                        <a href="#">Manufacturer</a>
                        <a href="#">Active Ingredient</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <input autofocus class="form-control autocomplete" name="ID" placeholder="ID" type="text">
                <p>or</p>
                <input autofocus class="form-control autocomplete" name="name" placeholder="Name" type="text">
            </div>
            <div class="col-md-4">
                <input class="btn btn-primary" type="submit">
            </div>
        </div>
    </div>
</form>

{% endblock %}
