{% extends "layout.html" %}

{% block javascript %}
<script src="/static/scripts/my_scripts.js"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>Network Graph</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="viz_text">
            {% if details[0] == 3 %}
            This is a visualization of report <a href="{{ "https://www.drugshortagescanada.ca/shortage/" + details[1] }}" target="_blank">{{ details[1] }}</a>.
            {% elif details[0] == 4 %}
            The visualization below shows all products currently in listed as being in shortage in Canada.
            {% else %}
            {% if details[2]["subj"] == 0 %}
            {{details[2]["drug_name"]}} ({{details[2]["din"]}}) [{{details[2]["owner"]}}]
            {% elif details[2]["subj"] == 1 %}
            {{details[2]["company_name"]}}
            {% elif details[2]["subj"] == 2 %}
            "{{details[2]["ingredient_name"]}}"
            {% else %}
            The specified entity
            {% endif %} and its nearest neighbours are mapped in the network visualization below.
            {% endif %} It can be manipulated using the physics buttons below the viewing panel. If the nodes are moving about without your intervention and you wish to stop this, uncheck "enabled".
        </p>
        {% if details[0] <= 3 %}
        <p class="viz_text">The node representing the subject of the query and its immediate neighbours have been enlarged in terms of both size and mass.</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <!-- <p class="viz_text">The nodes are keyed as follows:</p>-->
        {% if details[0] == 4 %}
        <table class="node_key">
            <caption>Node Key</caption>
            <tbody>
                <tr>
                    <th scope="row" class="symbol product_short">
                        &#9670;
                    </th>
                    <td class="table_text">
                        A drug product.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol company">
                        &#9632;
                    </th>
                    <td class="table_text">
                        A drug product's owner.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol ingredient">
                        &#9650;
                    </th>
                    <td class="table_text">
                        An active ingredient of a drug product.
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table class="node_key">
            <caption class="node_key_caption">Node Key</caption>
            <tbody>
                <tr>
                    <th scope="row" class="symbol">
                        &#9671;
                    </th>
                    <td class="table_text">
                        A drug product:
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <th scope="row" class="symbol product_available">
                                        &#9670;
                                    </th>
                                    <td class="table_text">
                                        marketed and available.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_ant_short">
                                        &#9670;
                                    </th>
                                    <td class="table_text">
                                        a shortage is anticipated.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_short">
                                        &#9670;
                                    </th>
                                    <td class="table_text">
                                        currently in shortage.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_discontinued">
                                        &#9670;
                                    </th>
                                    <td class="table_text">
                                        discontinued.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol company">
                        &#9632;
                    </th>
                    <td class="table_text">
                        A drug product's owner.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol ingredient">
                        &#9650;
                    </th>
                    <td class="table_text">
                        An active ingredient of a drug product.
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include "shortages_graph.html" %}
    </div>
</div>

{% endblock %}
