{% extends "layout.html" %}

{% block javascript %}
<script src="/static/scripts/my_scripts.js"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>Network Graph</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="viz_text">
            {% if details[0] == 3 %}
            This is a visualisation of report <a href="{{ "https://www.drugshortagescanada.ca/shortage/" + details[1] }}" target="_blank">{{ details[1] }}</a>.
            {% endif %} It can be manipulated using the physics buttons below the viewing panel. If the nodes are moving about without your intervention and you wish to stop this, uncheck "enabled".
        </p>
        <p class="viz_text">The nodes are keyed as follows:</p>
        {% if details[0] == 4 %}
        <table class="node_key">
            <tbody>
                <tr>
                    <th scope="row" class="symbol product_short">
                        &#9670;
                    </th>
                    <td class="viz_text upper_key">
                        A drug product.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol company">
                        &#9632;
                    </th>
                    <td class="viz_text">
                        The drug product's DIN owner.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol ingredient">
                        &#9650;
                    </th>
                    <td class="viz_text">
                        An active ingredient of the drug product.
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table class="node_key">
            <tbody>
                <tr>
                    <th scope="row" class="symbol">
                        &#9671;
                    </th>
                    <td class="viz_text upper_key">
                        A drug product:
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <th scope="row" class="symbol product_available">
                                        &#9670;
                                    </th>
                                    <td class="viz_text">
                                        marketed and available.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_ant_short">
                                        &#9670;
                                    </th>
                                    <td class="viz_text">
                                        a shortage is anticipated.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_short">
                                        &#9670;
                                    </th>
                                    <td class="viz_text">
                                        currently in shortage.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="symbol product_discontinued">
                                        &#9670;
                                    </th>
                                    <td class="viz_text">
                                        discontinued.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol company">
                        &#9632;
                    </th>
                    <td class="viz_text">
                        The drug product's DIN owner.
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="symbol ingredient">
                        &#9650;
                    </th>
                    <td class="viz_text">
                        An active ingredient of the drug product.
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        <p class="viz_text">The node representing the subject of the query and its immediate neighbours have been enlarged in terms of both size and mass.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include "shortages_graph.html" %}
    </div>
</div>

{% endblock %}